.active-rigion-list {
    .invoice-dialog{
        .title{
            padding-bottom: 10px;
            font-weight: bolder;
            font-size: 16px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 15px;
        }
        .con {
            padding-bottom: 10px;
        }
        
    }
}