.selfmall-manager-closelist {
    .el-select,
    .el-date-editor {
        width: 100%;
    }
    .el-form-item {
        margin-bottom: 10px;
    }
    .status-list {
        padding-bottom: 20px;
    }
}