.mall-discount-ticket-add{
    /deep/ .el-input,
    .el-date-editor,
    .el-select {
        width: 100%;
    }
    /deep/ .el-table th {
        padding: 0
    }
    [v-cloak] {
        display: none;
      }
}