.close-time-content{
    .tip{
        color:#f44336;
        margin-bottom: 10px;
    }
    .date-pick{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px
    }
}