.third-prize-list {
    .el-select {
        width: 100%;
    }
    .el-date-editor {
        width: 100%;
    }
    .goods-dialog {
        .el-row{
            margin-bottom: 15px;
            color: #666;
        }
    }
}