.welfare-order-list {
    /deep/ .el-cascader {
        width: 100%;
    }
    .line-clamp{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}