/* 改变主题色变量 */
$--color-primary: #9795E3;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '../../../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";

.el-table {
    text-align: center;

    th.is-leaf, .el-table td {
        border-bottom: 1px solid transparent
    }
    .el-table__header{
        position: relative;
        thead tr {
            position: relative;
            background-color: transparent;
            th {
                text-align: center;
                background: transparent;
                color: #ffffff;
                border-right: 0 solid #d8d8d8;
                z-index: 1;
            }
            &:after{
                position: absolute;
                content: " ";
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(-248deg, #4A90FA 0%, #8E78FF 100%);
            }
        }
    }
}
.el-table--striped .el-table__body tr.el-table__row--striped td{
    background: #F1F0FB;
}

.el-table--border th, .el-table--border td {
    border-right: 1px solid #d8d8d8
}

.el-table__column-filter-trigger i {
    color: #333333
}


.el-menu--vertical {
    .el-menu-item {
        background-color: #393857 !important;
    }
}